<!-- List of systems -->
{% load humanize %}
{% load guardian_tags %}

{% if systems %}
<div class="container">
<div class="row">
  <div class="col-xs-10 col-md-5">System Instance Name</div>
  <div class="col-xs-6 col-sm-1">SDLC</div>
  <div class="col-md-2">&nbsp;</div>
  <div class="col-xs-12 col-md-2">Created</div>
</div>
{% endif %}

  {% for system in systems %}
  <div class="row" style="border-top: 1px solid #aaa;padding: 8px 0px 8px 0px;">

    <div class="col-xs-10 col-md-5">
      <div>
        <span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;&nbsp;
        <a href="/itsystems/{{system.id}}/hosts" id="system_{{system.name}}" style="color: black;">{{system.name}}</a>
      </div>
    </div>

    <div class="col-md-1"><small style="color: #888;">{{system.sdlc_stage}}</small></div>

    <div class="col-md-2">&nbsp;</div>

    <div class="col-xs-12 col-md-2" style="text-align: left;"><small style="color: #888;">
        {{system.created|naturaltime}}</small></div>
  </div>
  {% endfor %}

</div>